.info-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    ),
    url("../img/infoPicture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  &_data {
    margin-top: -2rem;
  }
}

.info-data {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 800;
  display: flex;
}

.info-labels {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
}

@media only screen and (max-width: 1111px) {
  .info-container {
    background-position: center;
  }
}

@media only screen and (max-width: 575px) {
  .info-data {
    margin-top: 55%;
  }
}
